header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-image: linear-gradient(45deg, rgba(196, 156, 82, 1), rgba(110, 226, 235, 1));
    color: black
}

main {
    margin: 0 auto;
    width: 80%;
}

nav ul {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    min-width: 300px;
    
}

nav li {
    margin: 3px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: rgb(196, 156, 82);
    padding: 8px 12px;
    border: 1px solid black;
}

nav a:hover {
    color:white;
    background-color: rgb(79, 194, 194);
}

.waves {
    display: flex;
    align-items: flex-end;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Beach\ Waves.webp");
    background-size: cover;
    background-position: center;
}

.picture { 
    display: flex;
    margin: 4%;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 200px;
}

.flex-container {
    display: flex;
    text-align: center;
    background-color: #467446;
    opacity: .7;
    padding: 12px;
    font-size: 15px;
    margin-left: 3%;
    margin-right: 77%;
    margin-bottom: 25px;
}

.flex-container div {
    color: white;
}

h1 {
    font-size: 200%;
    font-family: sans-serif;
}

h1::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    content: 'Portfolio';
    color: #006600;
    margin-left: 5px;
}

h2 {
    border-right: thick solid #006600;
    padding-right: 4%;
    font-size: 200%;
    font-family: sans-serif;
    min-width: 200px;
}

article, section{
    display: flex;
    align-items: center;
}


.my-work {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 3%;
}

.box-1 img{
    display: flex;
    height: 250px;
    width: auto;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    border: bold thick #467446
}

.box-1 {
    display: flexbox;
    flex-wrap: wrap;
   
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.my-work nav {
    padding: 5%;
}

.contact{
    display: flex;
    align-items: center;
}

.contact ul {
    display: flex;
    align-items: center;
    padding: 3%;
    justify-content: space-between;
    width: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.column {
    display: flex;
    flex-wrap: inherit;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 5px 10px;
    }
    nav a {
        padding: 5px 10px;
        margin: 5% 0%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: baseline;
    }
    .column, .my-work, .contact, article {
        flex-direction: column;
    }
    .width img {
        width: 445px;
    }
}